In [1]:
import pandas as pd
import datetime

In [16]:
# We find todays day.
todaysDay = datetime.datetime.today()

# we make a list of days 
datetime_list = [todaysDay - datetime.timedelta(days=x) for x in range(0,20)]

# we feed that list into our DF.
df = pd.DataFrame(datetime_list)
df.columns  = ['Day']

In [36]:
# now based on our data in Day column we create Day_of_week & Day_Name column 
# using Day_of_week we have converted that ordinal categorical value to numerical value with some ranks
# this is human readable and our machine will also be able to perform operation on it easily

df['Day_of_week'] = df['Day'].dt.weekday
df['Day_Name'] = df['Day'].dt.day_name()

In [37]:
df

                          Day  Day_of_week   Day_Name
0  2021-02-04 06:15:26.029954            3   Thursday
1  2021-02-03 06:15:26.029954            2  Wednesday
2  2021-02-02 06:15:26.029954            1    Tuesday
3  2021-02-01 06:15:26.029954            0     Monday
4  2021-01-31 06:15:26.029954            6     Sunday
5  2021-01-30 06:15:26.029954            5   Saturday
6  2021-01-29 06:15:26.029954            4     Friday
7  2021-01-28 06:15:26.029954            3   Thursday
8  2021-01-27 06:15:26.029954            2  Wednesday
9  2021-01-26 06:15:26.029954            1    Tuesday
10 2021-01-25 06:15:26.029954            0     Monday
11 2021-01-24 06:15:26.029954            6     Sunday
12 2021-01-23 06:15:26.029954            5   Saturday
13 2021-01-22 06:15:26.029954            4     Friday
14 2021-01-21 06:15:26.029954            3   Thursday
15 2021-01-20 06:15:26.029954            2  Wednesday
16 2021-01-19 06:15:26.029954            1    Tuesday
17 2021-01-18 06:15:26.029954            0     Monday
18 2021-01-17 06:15:26.029954            6     Sunday
19 2021-01-16 06:15:26.029954            5   Saturday